<!-- Header with menu -->
<ion-header>
  <ion-toolbar>
    <ion-img id="logo" src="../../../assets/images/pokepedia_logo.png"></ion-img>
    <ion-buttons slot="end">
      <!-- Menu preset from main-menu.component -->
      <ion-menu-button menu="mainMenu" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let pokemon of pokemonsList">
        <ion-card [routerLink]="['/pokemon-info/' + pokemon.name]">
          <ion-card-header>
            <ion-card-title>{{generalService.formatString(pokemon.name)}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>