<!-- Preset for the main menu -->
<ion-menu side="start" menuId="mainMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-img src="../../assets/images/pokepedia_logo.png"></ion-img>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <!-- <ion-item *ngIf="isLogged()" [routerLink]="['/pokedex']"><ion-icon slot="start" name="person-circle-outline"></ion-icon>Perfil</ion-item>
        <ion-item *ngIf="!isLogged()" [routerLink]="['/pokedex']"><ion-icon slot="start" name="log-in-outline"></ion-icon>Iniciar sesión</ion-item>
        <ion-item [routerLink]="['/pokedex']"><ion-icon slot="start" name="book-outline"></ion-icon>Pokédex</ion-item>
        <ion-item [routerLink]="['/abilities']"><ion-icon slot="start" name="book-outline"></ion-icon>Habilidades</ion-item>
        <ion-item [routerLink]="['/pokedex']"><ion-icon slot="start" name="star-outline"></ion-icon>Favoritos</ion-item>
        <ion-item [routerLink]="['/pokedex']"><ion-icon slot="start" name="log-out-outline"></ion-icon>Cerrar sesión</ion-item> -->
        </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>